p {
  font-size: 16px;
  font-family:;
  color: #333;
}

body {
  font-family:
    playfair display,
    serif;
  background: linear-gradient(to top, #a6b9ae, #b49ec0);
  color: #6c398a;
  text-align: center;
  padding: 70px;
  padding-top: 100px;
}
img {
  width: 500px;
  height: auto;
  border-radius: 10px;
}
.card {
  background-color: #e6e6fa;
  padding: 20px;
  border-radius: 10px;
  max-width: 900px;
  margin: auto;
}

ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;
  padding: 16px;
}

a {
  text-decoration: none;
  color: #6c398a;
  font-weight: bold;
  font-size: 26px;
}

nav a:hover {
  color: #a6b9ae;
}

nav a {
  color: #a279b9;
}

footer {
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;

  border-top: 1px solid #ccc;

  font-size: 14px;
}

footer p {
  color: #587062;
}
